black==23.12.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coverage==7.6.10
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
Deprecated==1.2.15
docspec==2.2.1
docspec-python==2.2.1
docstring_parser==0.11
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mypy-extensions==1.0.0
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pydoc-markdown==4.8.2
pytest==8.3.4
pytest-cov==6.0.0
PyYAML==6.0.2
requests==2.32.3
tomli==2.2.1
tomli_w==1.1.0
typeapi==2.2.3
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
wrapt==1.17.0
yapf==0.43.0
